@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Importa una fuente de google */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Permite que la pagina ocupe la ventana entera */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0eef1;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#logoHolder img {
  width: 100px;
}

.subtitle {
  font-family: 'VT323', monospace;
}

#headBar {
  display: flex;
  /* Flex convierte a todos los objetos dentro de este (todo dentro del div con clase headBar) en flex items.
    Esto permite aplicarles distintas propiedades para localizarlos en un punto especifico de forma mas facil, 
    o en este caso separarlos de forma uniforme*/
  padding: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  background-color: black;
  min-height: 60px;
}

#logoHolder {
  display: flex;
  justify-content: space-evenly;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#content {
  display: flex;
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.sponsorsImg {
  display: flex;
  gap: 40px;
}

.sponsorsImg img {
  max-height: 50px;
}

.redes {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 80px;
}

.imgChat {
  cursor: pointer;
}

.noticia {
  border: 2px solid black;
  cursor: pointer;
}

/* Porcentajes en css funcionan en base al contenedor padre. Esto quiere decir
que section tiene como ancho maximo el 50% del contendor que lo contiene.
Las mitades (primera y segunda) tienen como maximo el 50% de su padre, en este
caso section, que tiene como maximo la mitad de SU padre. */
.section {
  max-width: 50%;
  display: flex;
  font-size: 20px;
}

.primera {
  max-width: 50%;
}

.segunda img {
  height: 360px;
  width: 500px;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

#main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
}

#main img {
  width: 100px;
}
